/* CLASES Generales del Proyecto */
body {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: $backgroundColor;
    color: $colorTexto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: auto;
}

*input {
    border-radius: 0.2rem;
}