/* COLORES */
$colorNegro: #000000;
$colorBlanco: #FFFFFF;
$colorGrisClaro: #EDEAED;
$colorGrisOscuro: #333333; // Fondo General de la web

//Paleta:
$colorCelesteFluo: #79ffff;
$colorCeleste: #21b3f8;