/* INDEX.html */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 0 1.5rem 1.5rem;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .products .product-list {
        grid-template-columns: 1fr;
    }
}

.products,
.cart {
    background-color: $prodBackgroundCOLOR;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.products h2,
.products h3,
.cart h3 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product-item {
    background-color: $itemBackgroundCOLOR;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-item img {
    max-width: 100%;
    border-radius: 0.7rem;
    height: 12rem;
    width: 12rem;
    object-fit: contain;
}

.product-item h3 {
    font-size: 18px;
    margin: 0.5rem 0 0;
    max-width: 15rem;
}

.product-item p {
    font-size: 14px;
    margin: 5px 0;
}

.product-item .input-number,
.cart .input-text,
.cart .input-email,
.cart .input-tel {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.product-item .input-number {
    width: 50px;
    padding: 5px;
}

.product-item button,
.cart button {
    background-color: $backgroundColor;
    color: $buttonColorTexto;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cart button {
    margin: 1.2rem 0;
    width: 100%;
}