/* HEADER */
.header {
    text-align: left;
    padding: 0px 20px;
    background-color: $backgroundColor;

    h1 {
        font-family: "Orbitron";
        font-size: 3rem;
        font-weight: bold;
        margin: 1rem;
    }
}